:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #ffffff;
  color: #213547;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

input[type="text"] {
  box-sizing: border-box;
}
